EXERCISE 1

In [8]:
type(6)

int

In [9]:
type(6.0)

float

In [11]:
type(5+3.14)

float

In [14]:
int(7.9999999)

7

In [ ]:
float(6)

EXERCISE 2

In [26]:
x=2
x+=1

In [27]:
x

3

In [28]:
x=float(x)+1
x

4.0

EXERCISE 3

In [29]:
1st_number=1

SyntaxError: invalid syntax (2022791428.py, line 1)

In [31]:
first_number=1

In [32]:
my_$=1000.0

SyntaxError: invalid syntax (3369807146.py, line 1)

In [33]:
my_money=1000.0

EXERCISE 4

In [36]:
x=5
y=2
x+x-y^2

10

In [37]:
x,y=8,5
int(x/y)

1

EXERCISE 5

In [38]:
# This is a comment

In [40]:
#Set pi equal tp 3.14
pi=3.14

In [41]:
 pi=3.14 #Set pi equal tp 3.14

EXERCISE 6

In [2]:
name=input("what's your name...eh? ")
print(" Hello!, "+ name +".")

what's your name...eh? Obaid
 Hello!, Obaid.

EXERCISE 7

In [ ]:
over_18=True
type(over_18)

EXERCISE 8

In [49]:
age=20
age>=20 and age<=21

True

In [52]:
age!=21

True

In [53]:
age==19

False

In [54]:
6==6.0

True

In [55]:
6=='6'

False

In [56]:
(20<=age and age <30) or (30<=age and age<40)

True

In [57]:
(20<=age<30) or (30<=age<40)

True

EXERCISE 9

In [60]:
age = 20
if age >= 18 and age < 21:
    print('At least you can vote.')
    print('Poker will have to wait.')

At least you can vote.
Poker will have to wait.

In [61]:
if age >= 18:
    print('You can vote.')
if age >= 21:
    print('You can play poker.')

You can vote.

EXERCISE 10

In [62]:
age = 20
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print('Welcome to our voting program.')

Welcome to our voting program.

In [63]:
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

EXERCISE

In [1]:
name_input = input('Hi ! Please enter your name:')
print(f"Welcome {name_input} !")

Hi ! Please enter your name:Obaid
Welcome Obaid !

In [3]:
input_hours = float(input('Hi , enter the hours : '))
input_rate = float(input('Enter the Rate per hour :'))
gross_pay = input_hours * input_rate
print(f"Gross pay = {gross_pay} ")

Hi , enter the hours : 12
Enter the Rate per hour :12
Gross pay = 144.0

In [4]:
width = 17
height = 12.0

print("The value is : ", width // 2, "and the type is: " ,type(width // 2))
print("The value is : ", width / 2.0 ,"and the type is: " , type(width / 2.0))
print("The value is : ", width / 3 ,"and the type is: " , type(width / 3))
print("The value is :" , 1 + 2 * 5,"and the type is: " , type(1 + 2 * 5))

The value is :  8 and the type is:  <class 'int'>
The value is :  8.5 and the type is:  <class 'float'>
The value is :  5.666666666666667 and the type is:  <class 'float'>
The value is : 11 and the type is:  <class 'int'>

In [5]:
print('Data Science in Practice')
print("Data Science involves 6 step process")
#---YOUR CODE HERE ----
print('1. Setting the research goal')
#In the context of this course, Setting the research goal is a way of formulating the research area and how ML tools fit into that ambit
print('2. Retrieving Data')
#The data associated with the research area that aligns with the goals set in the first step
print('3. Data Preparation')
#Preparing data in terms of parameters, sizes so as to align with the research goals.
print('4. Data Exploration')
#Exploring data, checking out the schema like the number of columns, data type, redundancies etc.
print('5. Data Modeling')
#Analyse trends,, visualize data and fine tune derived details so as to build a sort of pipeline and model
print('6. Presentation and Automation')
#Making the above obtained model conducive and complete in the sense that it should be easy to understand and correlate with the results and statistics so obtained.

Data Science in Practice
Data Science involves 6 step process
1. Setting the research goal
2. Retrieving Data
3. Data Preparation
4. Data Exploration
5. Data Modeling
6. Presentation and Automation

In [6]:
my_name = 'John Smith'
my_age = 35 # its a lie
my_height = 176 # cm
my_weight = 65 # kg
my_department = 'Humanities'
my_interests = 'Reading'
my_favorite_game = 'Cricket'

print(f"Let's talk about {my_name}.")
print(f"He's {my_height} tall.")
print(f"He's {my_weight} heavy." )
print(f"Actually that's not too heavy.")
print(f"He's from Humanities department and his interests include Reading.")
print(f"His favorite game is Cricket and plays during weekend.")
print(f"If I add 35, 176, and 65 I get 276.")
#--like the privious Print statement, write the remaining to get the output as mentioned below

Let's talk about John Smith.
He's 176 tall.
He's 65 heavy.
Actually that's not too heavy.
He's from Humanities department and his interests include Reading.
His favorite game is Cricket and plays during weekend.
If I add 35, 176, and 65 I get 276.

In [7]:
print("The max value is : ", max(36,27,12,48) , "and the min is: " ,min(36,27,12,48))

The max value is :  48 and the min is:  12